# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
venv/
.idea/
test/
data/
saved_models/
__pycache__/
*.pyc
# Dependency directories (remove the comment below to include it)
# vendor/
